.ftt-auth-modal {
	position: fixed;
	top: 100px;
	left: 0;
	right: 0;
	margin: auto;
	width: 300px;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 4px 0px 4px 4px;
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.16);
	display: none;

	&.is-open {
		display: block;
		z-index: 2;
	}

	@include respond-to($phone) {
		width: 100%;
		max-width: 300px;
		top: 70px;
	}

	&__head {
		position: relative;
		padding: 20px;
	}

	&__title {
		font-size: 15px;
		font-weight: 700;
		color: rgba(51, 51, 51, 1);
		text-align: left;
		line-height: 20px;
	}

	&__close {
		width: 50px;
		height: 50px;
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		background: url('../img/icons/cross.svg') no-repeat;
		background-position: center center;
		transition: 300ms ease-out;

		&:hover {
			opacity: 0.7;
		}
	}

	&__body {
		padding: 0 20px 20px;
	}

	&__form {
		.ftt-fieldset {
			&:not(:last-child){
				margin-bottom: 20px;
			}
		}
	}

	&__controls {
		display: flex;
		justify-content: space-between;
	}

	&__social {
		display: flex;

		&-link {
			display: block;
			margin-left: 10px;
			transition: 300ms ease-out;

			&:hover {
				opacity: 0.7;
			}
		}
	}

	&__footer {
		text-align: center;
		border-top: 1px solid rgba(0, 0, 0, 0.12);
		padding: 15px 15px 17px;
	}

	&__link {
		font-size: 15px;
		font-weight: 700;
		color: rgba(254, 115, 35, 1);
		text-decoration: none;
		transition: 300ms ease-out;

		&:hover {
			color: #333
		}
	}
}

.vk-social-link {
	height: 39px;
	display: flex;
	align-items: center;
	background: #4c74a3;
	padding: 0 15px 0 0;
	border-radius: 2px;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-weight: 400;
}

.vk-social-link img {
	max-height: 100%;
	margin-right: 0;
}