.is-filter-open {
	@include respond-to($phone) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
}

.ftt-filter {
	font-size: 15px;
	color: rgba(51, 51, 51, 1);
	
	@include respond-to($desktop) {
		&__mob-header {
			display: none;
		}
	}

	@include respond-to($phone) {
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #fff;
		z-index: 20;
		text-align: left;
		padding: 52px 0 0;

		&.is-open {
			display: block;
		}

		&__scroll {
			height: 100%;
			overflow: auto;
			padding: 30px 45px;
			-webkit-overflow-scrolling: touch;
		}

		&__mob-header {
			height: 52px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			background-color: rgba(255, 116, 36, 1);
		}
	}

	&__group {
		margin-bottom: 40px;

		@include respond-to($phone) {
			margin-bottom: 35px;
		}

		&-range {
			margin-bottom: 40px;

			@include respond-to($phone) {
				margin-bottom: 35px;
			}
		}
	}

	&__label {
		font-weight: 700;
		margin-bottom: 20px;

		@include respond-to($phone) {
			margin-bottom: 15px;
		}
	}

	&__radio {
		position: relative;
		display: block;
		cursor: pointer;
		font-size: 15px;
		color: rgba(51, 51, 51, 1);
		margin-bottom: 26px;

		@include respond-to($phone) {
			margin-bottom: 15px;
		}

		input {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			visibility: hidden;
			z-index: -1;

			&:checked + span {
				font-weight: 700;

				&:before {
					opacity: 1;
				}
			}
		}

		span {
			&:before {
				content: "";
				height: 13px;
				width: 17px;
				position: absolute;
				top: 2px;
				left: -30px;
				opacity: 0;
				background: url('../img/icons/ic_check.svg') no-repeat;
				background-size: 100%;
			}
		}
	}

	&__range {
		position: relative;
		margin-top: 40px;

		@include respond-to($phone) {
			margin-top: 30px;
		}

		input {
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 0;
			opacity: 0;
		}

		.irs-line {
		    height: 3px;
		    top: 0;
		}

		.irs-bar {
		    height: 2px;
		    top: 0;
		    background: rgba(255, 116, 36, 1);
		}

		.irs-slider {
		    top: -15px;
		    height: 32px;
			width: 16px;
			background-color: rgba(255, 255, 255, 1);
			border: 1px solid rgba(0, 0, 0, 0.12);
			box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.08);
		}

		.irs-max, .irs-min {
		    color: #999;
		    font-size: 10px;
		    line-height: 1.333;
		    text-shadow: none;
		    bottom: 0;
		    padding: 1px 3px;
		    background: rgba(0, 0, 0, 0.1);
		    border-radius: 3px;
		    display: none;
		}

		.irs-from, .irs-single, .irs-to {
		    font-size: 13px;
		    top: 20px;
		    color: #70787b;
		    text-transform: uppercase;
		}

		.irs-line-left, .irs-line-mid, .irs-line-right {
		    height: 2px;
		    background: #dcdcdc;
		}

	}

	&__list {
		font-size: 15px;
		color: rgba(51, 51, 51, 1);
		margin-bottom: 27px;

		&-label {
			display: inline-block;
			cursor: pointer;

			&:after {
				content: "";
				display: inline-block;
				vertical-align: middle;
				height: 6px;
				width: 9px;
				margin-left: 8px;
				margin-right: 8px;
			}
		}

		&-del {
			display: inline-block;
			cursor: pointer;
			width: 10px;
			height: 10px;
			background: url('../img/icons/cross.svg') no-repeat;
			background-size: 100%;
			transition: 300ms ease-out;
			opacity: 0.5;
			margin-right: 5px;

			&:hover {
				opacity: 1;
			}

			&:active {
				opacity: 0.2;
			}
		}
	}

	&__add-control {
		font-size: 15px;
		color: rgba(51, 51, 51, 1);
		display: inline-block;
		cursor: pointer;
		text-decoration: underline;
		color: rgba(153, 153, 153, 1);
	}
}