.ftt-{ // project specific name prefix

    &footer {
        clear:both;
        background-color: $btn-flat-bg;
        @include respond-to($desktop) {
            position: absolute;
            left:0;
            right:0;
            bottom:0;
            padding: 25px 0 28px;
            & .ftt-container {
                display: -webkit-flex;
                display: flex;
                -webkit-justify-content: space-between;
                justify-content: space-between;
            }
            &__item {
                display: inline-block;
                &_app {
                    width: 320px;

                }
                &_blog {
                    width: 220px;
                }
            }
        }
        @include respond-to($phone) {
            padding: 1px 0 20px;
        }
        &__title {
            display: block;
            color: $btn-text;
            font-family: 'Roboto-Slab';
            font-size: 24px;
            line-height: 32px;
            @include respond-to($phone) {
                margin-top: 20px;
                font-size: 20px;
                line-height: 28px;
            }
        }
        &__text {
            display: block;
            margin-top: 6px;
            color: $btn-text;
            font-size: 15px;
            line-height: 20px;
        }
    }
}