.ftt-{ // project specific name prefix

    &header {
        height: 480px;
        padding-top: 20px;
        background-image:url('../img/header_bg.jpg');
        background-position: center top;
        background-repeat: no-repeat;
        background-size: auto 480px;
        font-size: 20px;

        @include respond-to($phone) {
            height: 586px;
            background-image:url('../img/header_bg_m.jpg');
            background-position: right top;
            background-size: auto 586px;
        }
        &__logo {
            width: 110px;
            height: 114px;
            margin-top: 20px;
            background-image: url('../img/logob.png');
            background-size: 110px 114px;

            @include respond-to($retina) {
                background-image: url('../img/logo@2x.png');
            }

            @include respond-to($phone) {
                width: 83px;
                height: 86px;
                margin-top: 0;
                margin-left: 4px;
                background-image: url('../img/logo@2x.png');
                background-size: 83px 86px;

                @include respond-to($retina) {
                    background-image: url('../img/logo_m@2x.png');
                }
            }

        }

        &__title {
            @include respond-to($phone) {
                margin-top: 24px;
                font-size: 24px;
                line-height: 32px;
            }
            max-width: 430px;
            margin-top: 40px;
            color: $global-text;
            font-family: 'Roboto-Slab';
            font-size: 32px;
            line-height: 40px;
        }

    }

    &search-hint {
        margin-top: 14px;
        color: $global-midtext;
        font-size: 15px;
        line-height: 20px;
        & a,
        & a:visited,
        & a:hover {
            color: $global-midtext;
            text-decoration: underline;
        }
    }

    &miniheader {
        height: 84px;
        padding-top:15px;
        background-color: $btn-flat-bg;
        font-size: 20px;
        @include respond-to($phone) {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            z-index: 10;
            height: 66px;
        }
        &__logo {
            position: absolute;
            width: 50px;
            height: 52px;
            margin-left: 8px;
            background-image: url('../img/logob.png');
            background-size: 50px 52px;
            @include respond-to($phone) {
                display:none;
            }
        }
        &__comments {
            display: block;
            position: absolute;
            top: 15px;
            right: 75px;
            width: 25px;
            height: 25px;
            background: url('../img/miniheader_comments.png') no-repeat;
            background-size: 25px 25px;
            @include respond-to($phone) {
                display:none;
            }
            &-counter {
                display: block;
                position: absolute;
                top: -8px;
                right: -15px;
                width: 22px;
                height: 22px;
                background-color: $lbl-flat-bg;
                border-radius: 11px;
                color: $btn-text;
                font-size: 11px;
                line-height: 22px;
                text-align: center;
                font-style: normal;
            }
        }
        &__checkin {
            display: block;
            position: absolute;
            top: 15px;
            right: 15px;
            width: 20px;
            height: 25px;
            background: url('../img/miniheader_checkin.png') no-repeat;
            background-size: 20px 25px;
            @include respond-to($phone) {
                display:none;
            }
        }
        &__profile {
            display: block;
            position: absolute;
            right: 143px;
            top: 17px;
            color: #fff;
            font-size: 15px;
            line-height: 20px;
            text-decoration: none;
            @include respond-to($phone) {
                display:none;
            }
            &-avatar {
                display: block;
                position: absolute;
                top: -6px;
                left: -40px;
                width: 32px;
                height: 32px;
                margin: 0 auto;
                background-position: center top;
                background-size: cover;
                border-radius: 16px;
                overflow: hidden;
            }
        }

    }
}