.ftt-mobmenu {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	z-index: 20;
	background: #fff;
	display: none;

	&.is-open {
		display: block;
	}

	&__header {
		height: 52px;
		background-color: rgba(255, 116, 36, 1);
	}

	&__return {
		width: 52px;
		height: 52px;
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
		background: url(../img/icons/back.svg) no-repeat center center;
		background-size: 9px 14px;
	}

	&__user {
		height: inherit;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__nav {
		font-size: 15px;
		color: rgba(51, 51, 51, 1);
		text-align: left;
		line-height: 20px;

		&-elem {
			position: relative;
			border-bottom: 1px solid rgba(0, 0, 0, 0.12);
		}

		&-icon {
			position: absolute;
			top: 0;
			left: 0;
			width: 60px;
			height: 100%;

			img {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
			}
		}

		&-link {
			display: block;
			padding: 16px 60px;
			color: rgba(51, 51, 51, 1);
			text-decoration: none;
		}

		&-number {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 16px;
			height: 22px;
			width: 22px;
			font-size: 11px;
			line-height: 24px;
			margin: auto;
			text-align: center;
			background-color: $lbl-flat-bg;
            color: $btn-text;
			background-color: rgba(250, 185, 68, 1);
			border-radius: 22px
		}
	}
}