.mfp-open {
	@include respond-to($phone) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
}

.mfp-ready:not(.mfp-removing) {
    background: rgba(255, 255, 255, 0.85);
}

.mfp-ready:not(.mfp-removing) .ftt-modal {
	@include respond-to($desktop) {
		opacity: 1;
	    visibility: visible;
		transform: translate3d(0, 0, 0);
	}
}

.mfp-bg {
    opacity: 0 !important;
}

.mfp-container {
	@include respond-to($phone) {
	    padding: 0;
	}
}

.mfp-wrap {
    -webkit-tap-highlight-color: transparent;
    background: transparent;
    transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);

    @include respond-to($phone) {
    	padding: 0;
    }
}

[data-mfp-src] {
    outline: none;
}


.ftt-modal {
	position: relative;
	margin: auto;
	z-index: 30;
	width: 500px;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 2px;
	box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.2);

	@include respond-to($desktop) {
		opacity: 0;
		visibility: hidden;
		transition: 500ms cubic-bezier(.165,.84,.44,1);
		transform: scale(.9) translateY(-32px);
	}

	@include respond-to($phone) {
		width: 100%;
		position: fixed !important;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	&-tips {
		@include respond-to($phone) {
			width: 100%;
			height: 100%;
			padding-top: 40px;
			padding-bottom: 60px;
			overflow: auto;
			-webkit-overflow-scrolling: touch;
		}

		&-mobheader {
			height: 52px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			background: #ff7424;
			z-index: 5;

			&__title {
				font-size: 17px;
				color: rgba(255, 255, 255, 1);
				text-align: center;
				line-height: 24px;
			}

			@include respond-to($desktop) {
				display: none;
			}

			@include respond-to($phone) {
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

		&-header {
			position: relative;
			height: 120px;
			border-radius: 2px 2px 0px 0px;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;

			@include respond-to($phone) {
				display: none;
			}

			&__icon {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 18px;
				display: flex;
				align-items: center;

				img {
					display: block;
				}
			}

			&__close {
				position: absolute;
				top: 10px;
				right: 10px;
				height: 44px;
				width: 44px;
				cursor: pointer;
				background: url('../img/icons/cross-white.svg') rgba(0, 0, 0, 0.3) center center no-repeat;
				border-radius: 44px;
				transition: 300ms ease-out;

				&:hover {
					background-color: rgba(0, 0, 0, 0.7)
				}
			}
		}

		&-form {
			display: block;
			padding: 20px;

			@include respond-to($phone) {
				padding: 16px;
			}

			p {
				font-size: 15px;
				color: rgba(153, 153, 153, 1);
				line-height: 20px;
				margin-bottom: 20px;
			}
		}

		&-title {
			font-family: 'Roboto-Slab';
			font-size: 24px;
			color: rgba(51, 51, 51, 1);
			text-align: left;
			line-height: 32px;
			margin-bottom: 10px;

			@include respond-to($phone) {
				display: none;
			}
		}

		&-location {
			font-size: 17px;
			color: rgba(51, 51, 51, 1);
			line-height: 24px;
			padding-left: 30px;
			position: relative;
			margin-bottom: 20px;

			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				background: url('../img/icons/pin-orange.svg') no-repeat;
				height: 22px;
				width: 18px;
			}
		}

		&-controls {
			margin: 20px 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&-submit {
			margin: 25px -20px -20px;

			@include respond-to($phone) {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
			}

			.ftt-button {
				height: 52px;
				width: 100%;
				border-radius: 0;

				@include respond-to($phone) {
					max-width: 100%;
				}
			}
		}
	}
}