.ftt-page {
	padding: 40px 0;

	@include respond-to($phone) {
		padding: 52px 0 0;
	}

	&__return {
	    width: 52px;
	    height: 52px;
	    cursor: pointer;
	    position: absolute;
	    top: 0;
	    left: 0;
	    cursor: pointer;
	    background: url(../img/icons/back.svg) no-repeat center center;
	    background-size: 9px 14px;

	    @include respond-to($desktop) {
	    	display: none;
	    }
	}

	&__head {
		position: relative;
		margin-bottom: 35px;
		
		@include respond-to($phone) {
			height: 52px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 -16px 20px;
			background-color: rgba(255, 116, 36, 1);
		}
	}

	&__title {
		font-family: 'Roboto-Slab';
		font-size: 24px;
		line-height: 32px;
		color: rgba(51, 51, 51, 1);

		@include respond-to($phone) {
			font-size: 15px;
			color: rgba(255, 255, 255, 1);
			line-height: 20px;
		}
	}

	&__wrap {
		position: relative;

		@include respond-to($desktop) {
			&-button {
				position: absolute;
				top: -75px;
				right: 0;
			}
		}

		@include respond-to($phone) {
			&-button {
				margin-bottom: 30px;
				
				.ftt-button {
					width: 100%;
				}
			}
		}
	}
}