.ftt-page-settings {
	text-align: center;
}

.ftt-settings {
	&-form {
		width: 100%;
		font-size: 14px;
		text-align: center;

		.ftt-button {
			min-width: 200px;

			@include respond-to($phone) {
				width: 100%;
				max-width: 100%;
			}
		}

		&__group {
			margin-bottom: 25px;
		}

		&__control {
			margin-bottom: 5px;

			&--flex {
				display: flex;
				align-items: center;
				justify-content: center;

				@include respond-to($phone) {
					justify-content: space-between;
				}

				.ftt-settings__label {
					width: 120px;
					margin: 0 20px 0 0;
				}
			}
		}
	}

	&__label {
		font-size: 15px;
		margin-bottom: 15px;
		color: #666;
		text-transform: uppercase;
	}
	
	&__link {
		color: #ff7424;
		text-decoration: none;
		border-bottom: 1px solid currentColor;
	}
}