.ftt-page-tip {
	@include respond-to($phone) {
		.ftt-page__head {
			margin-bottom: -1px;
		}
	}
}

.ftt-page-tip-index {
	@include respond-to($phone) {
		padding: 0;

		.ftt-page__head {
			margin-bottom: 0;
		}
	}
}

.ftt-tip-detail {
	.ftt-fieldset {
		margin-bottom: 20px;
	}

	&__form {
		max-width: 500px;
	}

	&__submit {
		.ftt-button {
			min-width: 200px
		}
	}
}
